.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: repeat;
}
#myCanvas
{
border-width: 10px;
background-color: antiquewhite;
border-style: ridge;
    border-color:palevioletred ;
}

